/*
font-family: "Playfair Display", serif;
font-family: "Poppins", sans-serif;
*/

:root {
  --branding-color: rgb(164, 99, 248);
  --secondary-color: rgb(251, 220, 255);
  --tertiary-color: #fcefff;
  --font-family-heading: "Playfair Display", serif;
  --font-other-text: "Poppins", sans-serif;
}

h1 {
  font-family: var(--font-family-heading);
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-family: var(--font-family-heading);
}

p,
h4,
h5,
a {
  font-family: var(--font-other-text);
}

p {
  font-size: 15px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 12px;
}

.hero p {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.hero h5 {
  font-size: 18px;
  font-weight: normal;
  opacity: 0.6;
  line-height: 2;
  color: #3a0979;
}

.btn-branding {
  color: white;
  background: var(--branding-color);
  border-radius: 10px;
  font-size: 18px;
  padding: 15px 30px;
}

.hero-projects {
  padding: 20px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 10px;
  font-size: 14px;
  padding: 12px 20px;
}

.project-description {
  padding: 60px 0;
}

.picture-projects img {
  width: 460px;
  border-radius: 15px;
}

.content-container img {
  border-radius: 15px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font: 44px;
  }

  .hero {
    padding: 80px 6px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .hero h1 {
    font-size: 72px;
  }

  .content h1 {
    font-size: 65px;
  }

  .content h2 {
    font-size: 30px;
  }

  .content {
    margin: 10px 0;
  }

  .content img {
    max-width: 500px;
  }
}

.content-container {
  text-align: center;
  padding: 80px 0;
}

.content p {
  font-size: 18px;
  border-radius: 10px;
}

.content h4 {
  font-size: 22px;
  line-height: 1.5;
}

body {
  background: var(--tertiary-color);
}
